In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
pip install CurrencyConverter

Collecting CurrencyConverter
  Downloading CurrencyConverter-0.16-py2.py3-none-any.whl (518 kB)
Installing collected packages: CurrencyConverter
Successfully installed CurrencyConverter-0.16
Note: you may need to restart the kernel to use updated packages.

In [4]:
#https://www.iban.com/currency-codes
data_size = 5000
df2 = pd.DataFrame(data2, columns= ['Code','Name','Value'])
 = pd.DataFrame({"CNIC": np.random.randint(1,1000, size=(data_size)),
                   "TransactionID":np.random.randint(1,2, size=(data_size)),
                  "Transaction Date":pd.date_range('1690-01-01', periods=data_size, freq="M"),
                   "Description":np.random.choice(["TopUP","IBFT","FT"], size=(data_size)),
                             "City":np.random.choice(["Karachi","Islamabad","Lahore"], size=(data_size)),
                            "Amount": np.random.randint(1,1000000, size=(data_size)),
                            "Currency":np.random.choice(['036',"051","104",'106'], size=(data_size))})
transactions

,CNIC,TransactionID,Transaction Date,Description,City,Amount,Currency
0,752,1,1690-01-31,TopUP,Islamabad,816064,036
1,898,1,1690-02-28,FT,Islamabad,503400,106
2,644,1,1690-03-31,IBFT,Lahore,333980,036
3,683,1,1690-04-30,FT,Islamabad,536562,104
4,222,1,1690-05-31,TopUP,Lahore,682842,106
...,...,...,...,...,...,...,...
4995,748,1,2106-04-30,TopUP,Islamabad,799259,051
4996,701,1,2106-05-31,TopUP,Karachi,45355,106
4997,744,1,2106-06-30,IBFT,Islamabad,654292,106
4998,488,1,2106-07-31,TopUP,Karachi,441705,051
4999,602,1,2106-08-31,TopUP,Karachi,943438,036

In [24]:
df = pd.read_html('https://www.iban.com/currency-codes')
df

[               Country         Currency Code  Number
 0          AFGHANISTAN          Afghani  AFN   971.0
 1        ÅLAND ISLANDS             Euro  EUR   978.0
 2              ALBANIA              Lek  ALL     8.0
 3              ALGERIA   Algerian Dinar  DZD    12.0
 4       AMERICAN SAMOA        US Dollar  USD   840.0
 ..                 ...              ...  ...     ...
 263  WALLIS AND FUTUNA        CFP Franc  XPF   953.0
 264     WESTERN SAHARA  Moroccan Dirham  MAD   504.0
 265              YEMEN      Yemeni Rial  YER   886.0
 266             ZAMBIA   Zambian Kwacha  ZMW   967.0
 267           ZIMBABWE  Zimbabwe Dollar  ZWL   932.0

 [268 rows x 4 columns]]

In [21]:
df2 = pd.DataFrame(data2, columns= [])

NameError: name 'data2' is not defined